<div id="mainbar">
  <div class="subheader">
    <h1 id="h-top-questions">Top Questions</h1>
    
    <div id="tabs">
      <a class="youarehere" href="#">interesting</a>
      <a href="#">featured</a>
      <a href="#">hot</a>
      <a href="#">week</a>
      <a href="#">month</a>
    </div>
  </div>
  <div id="qlist-wrapper">
    <div id="question-mini-list">
      <% @posts.reverse.each do |post| %>
      <div class="question-summary narrow" id="question-summary-<%=post.id%>">
        <div onclick="window.location.href='/foods/show/<%= post.id %>'" class="cp">
          <div class="votes">
            <div class="mini-counts">
              <span><%= post.votes %></span>
            </div>
            <div>votes</div>
          </div>
          <div class="status unanswered">
            <div class="mini-counts">
              <span><%= post.comments.size %></span>
            </div>
            <div>answers</div>
          </div>
          <div class="views">
            <div class="mini-counts">
              <span><%= post.views %></span>
            </div>
            <div>views</div>
          </div>
        </div> <!-- end div.cp -->
        <div class="summary">
          <h3><a class="question-hyperlink" href="/foods/show/<%= post.id %>"><%= post.title %></a></h3>
          <div class="tags">
            <a class="post-tag" href="#"><%= post.category %></a>
          </div>
          <div class="started">
            <a class="started-link" href="/foods/show/<%= post.id %>">asked <span class="relativetime">#m ago</span></a>
            <a href="#"><%= post.user.username %></a>
            <span class="reputation-score">1</span>
          </div>
        </div> <!-- end div.summary -->
      </div> <!-- end div.question-summary narrow -->
      <% end %>
    </div> <!-- end div#qlist-wrapper --> 
  </div> <!-- end div#question-mini-list -->
</div> <!-- end div#mainbar -->
