<div id="mainbar">
  <div class="subheader">
    <h1 id="h-top-questions">Top Questions</h1>
    
    <div id="tabs">
      <a<% if @tab == nil || @tab == "hot" %> class="youarehere"<% end %> href="/qna/?tab=hot">hot</a>
      <a<% if @tab == "popular" %> class="youarehere"<% end %> href="/qna/?tab=popular">popular</a>
      <a<% if @tab == "today" %> class="youarehere"<% end %> href="/qna/?tab=today">today</a>
      <a<% if @tab == "week" %> class="youarehere"<% end %> href="/qna/?tab=week">week</a>
      <a<% if @tab == "alltime" %> class="youarehere"<% end %> href="/qna/?tab=alltime">all time</a>
    </div>
  </div>
  <div id="qlist-wrapper">
    <div id="question-mini-list">
      <% @posts.each do |post| %>
      <div class="question-summary narrow" id="question-summary-<%=post.id%>">
        <div onclick="window.location.href='/qna/show/<%= post.id %>'" class="cp">
          <div class="votes">
            <div class="mini-counts">
              <span><%= post.votes %></span>
            </div>
            <div>votes</div>
          </div>
          <div class="status unanswered">
            <div class="mini-counts">
              <span><%= post.comments.size %></span>
            </div>
            <div>answers</div>
          </div>
          <div class="views">
            <div class="mini-counts">
              <span><%= post.views %></span>
            </div>
            <div>views</div>
          </div>
        </div> <!-- end div.cp -->
        <div class="summary">
          <h3><a class="question-hyperlink" href="/qna/show/<%= post.id %>"><%= post.title %></a></h3>
          <div class="tags">
            <a class="post-tag" href="/category/<%= post.category %>"><%= post.category %></a>
          </div>
          <div class="started">
            <a class="started-link" href="/qna/show/<%= post.id %>">asked <span class="relativetime"><%= post.elapsed %></span></a>
            <a href="#"><%= post.user.username %></a>
            <span class="reputation-score"><strong><%= post.user.posts.count %></strong></span>
          </div>
        </div> <!-- end div.summary -->
      </div> <!-- end div.question-summary narrow -->
      <% end %>
    </div> <!-- end div#qlist-wrapper --> 
  </div> <!-- end div#question-mini-list -->
</div> <!-- end div#mainbar -->
