<!DOCTYPE html>
<html>
<head>
  <title>SNU QnA Forum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.sstatic.net/stackoverflow/all.css?v=8d8f95b96b84">

</head>
<body>

<%= render :partial => "layouts/header" %>

<%= yield %>

<!-- Vote up and vote down -->
<script>
  function vote_post_up(post_id) {
    $.ajax({
      url: "/qna/vote_post_up_complete.json",
      type: "POST",
      data: {
        id: post_id
      },
      success: function(data) {
        $('#question .vote-up-off').addClass("vote-up-on");
        $('#question .vote-down-on').removeClass("vote-down-on").addClass("vote-down-off");
        $('#question .vote-count-post').html(data);
        // alert("(임시) Voted up successfully.");
      },
      error: function() {
        // alert("Already voted");
      }
    });
  }
  
  function already_voted() {
    alert("Already voted");
  }

  function vote_post_down(post_id) {
    $.ajax({
      url: "/qna/vote_post_down_complete.json",
      type: "POST",
      data: {
        id: post_id
      },
      success: function(data) {
        $('#question .vote-down-off').addClass("vote-down-on");
        $('#question .vote-up-on').removeClass("vote-up-on").addClass("vote-up-off");
        $('#question .vote-count-post').html(data);
        // alert("(임시) Voted up successfully.");
      },
      error: function() {
        // alert("Already voted");
      }
    });
  }
  
  function vote_comment_up(comment_id) {
    $.ajax({
      url: "/qna/vote_comment_up_complete.json",
      type: "POST",
      data: {
        id: comment_id
      },
      success: function(data) {
        $('#answer-' + comment_id + ' .vote-up-off').addClass("vote-up-on");
        $('#answer-' + comment_id + ' .vote-down-on').removeClass("vote-down-on").addClass("vote-down-off");
        $('#answer-' + comment_id + ' .vote-count-post').html(data);
        // alert("(임시) Voted up successfully.");
      },
      error: function() {
        // alert("Already voted");
      }
    });
  }

  function vote_comment_down(comment_id) {
    $.ajax({
      url: "/qna/vote_comment_down_complete.json",
      type: "POST",
      data: {
        id: comment_id
      },
      success: function(data) {
        $('#answer-' + comment_id + ' .vote-down-off').addClass("vote-down-on");
        $('#answer-' + comment_id + ' .vote-up-on').removeClass("vote-up-on").addClass("vote-up-off");
        $('#answer-' + comment_id + ' .vote-count-post').html(data);
        // alert("(임시) Voted up successfully.");
      },
      error: function() {
        // alert("Already voted");
      }
    });
  }
</script>


</body>
</html>
